In [23]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm
import statsmodels.formula.api as smf
import numpy as np
from sklearn.metrics import mean_squared_error ,r2_score
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split ,cross_val_score,cross_val_predict
from sklearn.decomposition import PCA
from sklearn.preprocessing import scale

In [24]:
ad = pd.read_csv("Data/Hitters.csv")
df=ad.copy()
df=df.dropna()
df.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,N,W,632,43,10,475.0,N
2,479,130,18,66,72,76,3,1624,457,63,224,266,263,A,W,880,82,14,480.0,A
3,496,141,20,65,78,37,11,5628,1575,225,828,838,354,N,E,200,11,3,500.0,N
4,321,87,10,39,42,30,2,396,101,12,48,46,33,N,E,805,40,4,91.5,N
5,594,169,4,74,51,35,11,4408,1133,19,501,336,194,A,W,282,421,25,750.0,A

In [25]:
df.shape

(263, 20)

In [26]:
df.describe().T

         count         mean          std   min    25%     50%     75%      max
AtBat    263.0   403.642586   147.307209  19.0  282.5   413.0   526.0    687.0
Hits     263.0   107.828897    45.125326   1.0   71.5   103.0   141.5    238.0
HmRun    263.0    11.619772     8.757108   0.0    5.0     9.0    18.0     40.0
Runs     263.0    54.745247    25.539816   0.0   33.5    52.0    73.0    130.0
RBI      263.0    51.486692    25.882714   0.0   30.0    47.0    71.0    121.0
Walks    263.0    41.114068    21.718056   0.0   23.0    37.0    57.0    105.0
Years    263.0     7.311787     4.793616   1.0    4.0     6.0    10.0     24.0
CAtBat   263.0  2657.543726  2286.582929  19.0  842.5  1931.0  3890.5  14053.0
CHits    263.0   722.186312   648.199644   4.0  212.0   516.0  1054.0   4256.0
CHmRun   263.0    69.239544    82.197581   0.0   15.0    40.0    92.5    548.0
CRuns    263.0   361.220532   331.198571   2.0  105.5   250.0   497.5   2165.0
CRBI     263.0   330.418251   323.367668   3.0   95.0   230.0   424.5   1659.0
CWalks   263.0   260.266160   264.055868   1.0   71.0   174.0   328.5   1566.0
PutOuts  263.0   290.711027   279.934575   0.0  113.5   224.0   322.5   1377.0
Assists  263.0   118.760456   145.080577   0.0    8.0    45.0   192.0    492.0
Errors   263.0     8.593156     6.606574   0.0    3.0     7.0    13.0     32.0
Salary   263.0   535.925882   451.118681  67.5  190.0   425.0   750.0   2460.0

In [27]:
dms=pd.get_dummies(df[["League","Division","NewLeague"]])
dms.head()

   League_A  League_N  Division_E  Division_W  NewLeague_A  NewLeague_N
1     False      True       False        True        False         True
2      True     False       False        True         True        False
3     False      True        True       False        False         True
4     False      True        True       False        False         True
5      True     False       False        True         True        False

In [28]:
X_=df.drop(["League","Division","NewLeague"],axis=1).astype("float64")

In [29]:
X=pd.concat([X_,dms[["League_N","Division_W","NewLeague_N"]]],axis=1)
y=df["Salary"]

In [30]:
X_train, X_test, y_train, y_test=train_test_split(X, y,
                                                  test_size=0.25,
                                                  random_state=42)

In [31]:
pca= PCA()
X_reduced_train=pca.fit_transform(scale(X_train))

In [32]:
np.cumsum(np.round(pca.explained_variance_ratio_,decimals=4)*100)[:10]

array([38.72, 59.43, 69.92, 77.6 , 82.78, 86.94, 90.42, 93.11, 95.15,
       96.55])

In [33]:
lm=LinearRegression()
pcr_model=lm.fit(X_reduced_train,y_train)

In [34]:
pcr_model.intercept_

np.float64(543.4834416243655)

In [35]:
y_pred=pcr_model.predict(X_reduced_train)

In [36]:
y_pred[0:5]

array([ 125., 1940.,  940.,  375.,  100.])

In [37]:
np.sqrt(mean_squared_error(y_train,y_pred))

np.float64(4.276077400807962e-13)